  li {
      display: list-item;
    }
  nav {
    font-size: 10px;
    top: 0;
    position: relative;
  }
  nav ul {
    list-style: none;
    text-align: center;
    margin-top:5px;
    background: #3BACC9;
    border-radius: 20px;
  }
  nav ul li {
    font-size: 15px;
    padding-left: 25px;
    display: inline-block;
  }
  nav ul li a {
    color: black;
    background: #ADCECB;
    border-radius: 10px;
    display: block;
    padding: 15px;
    border-bottom: 1px solid black; 
    border-top: 1px solid black; 
  }
  .ISUDHead{
    color:  #80ffff;
    background:  #00995c;
    width: 30%;
    margin-bottom: 20px;
    text-align: center;  
   } 
.horizontal_line{
    border-bottom: 3px solid #003d66; 
    top: 50%; 
    margin-top: -0.5px;
    left: 0px;
    margin-left: 0px;
}
.logo_header{
    width: 95%;
}
.pastevents{
    text-align: center;
}
.loginbtn {
    color: black;
    background-color: #ADCECB;
    border-radius: 10px;
    display: block;
    padding: 15px;
    border-bottom: 1px solid black; 
    border-top: 1px solid black; 
    font-size: 16px;
}
.signup{
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
  width:100%;
}
.signup input[type=text]{
  width: 50%;
  padding: 12px 20px;
  margin: 8px 0;
  display: block;
  border: 1px solid black;
  border-radius: 4px;
  box-sizing: border-box;
}
.signup input[type=password]{
  width: 50%;
  padding: 12px 20px;
  margin: 8px 0;
  display: block;
  border: 1px solid black;
  border-radius: 4px;
  box-sizing: border-box;
}
.signup input[type=submit] {
  width: 50%;
  background-color: #2D9B84;
  color: white;
  padding: 14px 20px;
  margin: 2% 0;
  border: none;
  border-radius: 4px;
}
.icon1{
    display: inline-block;
    width: 15%;
    padding-right: 5%;
}
.icon2{
    display: inline-block;
    width: 15%;
    padding-right: 5%;
}
.icon3{
    display: inline-block;
    width: 15%;
    padding-right: 5%;
}
.icon4{
    display: inline-block;
    width: 15%;
    padding-right: 5%;
}
.iconbar{
    margin-top: 5%;
    text-align: center;
}
.iconbar img{
    height: 125px;
    width: 125px;
}
.iconbar button{
    background-color: #2D9B84;
    border: none;
    color: white;
    padding: 15px 30px;
    text-align: center;
    display: inline-block;
    font-size: 16px;    
}
.about{
    text-align: center;
    display: inline-block;
}
.about_text{
    display: inline-block;
    padding-left: 15%;
    padding-right: 15%;
    font-size: 18px;
    text-align: center;
}
.about_text li{
    float: left;
}
.pawelImg{
    text-align: center;
}
.pawel_image_cap{
    text-align: center;
    font-size: 18px;
}

h2{ 	
    text-align: center;
    background-image: linear-gradient(white, #2B6CA3);  
    color: white;
    font-size: 28px;
}

.feat_vid iframe{
     float: left;
   	 width: 40%
}
.feat_vid h1{
    float: right;
    width: 50%;
    padding-right: 5%;
}
.feat_vid p{
    float: right;
    width: 50%;
    padding-right: 5%;
}
.slideshow-container{
    width: 70%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.slideshow-button-left{
    float: left;
}
.slideshow-button-right{
    float: right;
}
.slides{
    width: 100%;
}
.login_btn_menu {
  position: relative;
  display: inline-block;
}
.slideshow-caption{
    text-align: center;
    background-image: linear-gradient(white, #2B6CA3);  
    background-size: 100%;
    font-size: 22px;
}
.section_heading{
    text-align:center;
}
.paragraph_heading{
    font-size: 24px;
}
.about_us_homepage_text{
    width: 40%;
    float: left;
}
.about_us_homepage_video{
    width: 40%;
    height: 100%;
    float: right;
}
.loginbtn-content {
  display: none;
  position: absolute;
  background-color: #ADCECB;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}
.login_btn_menu:hover .loginbtn-content {
  display: block;
}
.login_btn_menu:hover .loginbtn-content {
  background-color: #ADCECB;
}
@media only screen and (max-width: 720px) {
    nav ul li a {
        display: inline-block;
        width: 150px;
  }
    .loginbtn{
        width: 180px;   
        border-radius: 10px;
        padding: 15px;
        border-bottom: 1px solid black; 
        border-top: 1px solid black; 
    }
    .iconbar{
        position: relative;
    }

    .icon1{    
      text-align:center;
      position: absolute;
      top: 50%;
      height: 4em;
      margin-top: 0em;
    }
    .icon2{    
      position: absolute;
      top: 50%;
      height: 4em;
      margin-top: 25em;
    }
    .icon3{
      position: absolute;
      top: 50%;
      height: 4em;
      margin-top: 45em;
    }
    .icon4{
      position: absolute;
      top: 50%;
      height: 4em;
      margin-top: 70em;
    }
}
